*{
    box-sizing: border-box;
}
body{
    background-color: #2b88f0;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.container{
    width: 500px;
}
.container h3{
    text-align: center;
    margin: 10px 0 20px;
}
textarea{
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
}
.tag{
    background-color: #f0932b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 5px 10px 0;
    display: inline-block;
    font-size: 14px;
}
.tag.highlight{
    background-color: #273c75;
}