*{
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
button{
    padding: 20px 35px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #800080;
    color: white;
    position: relative;
}
.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}
@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}