*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #663399;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.btn{
    border: none;
    background-color: white;
    color: #663399;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn:focus{
    outline: none;
}
.btn:active{
    transform: scale(0.98);
}
p{
    margin: 0.5rem;
    font-weight: 100 !important;
}
.notification{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn.info{
    color: rebeccapurple;
}
.btn.success{
    color: green;
}
.btn.error{
    color: red;
}